<% include ../partials/header %>
    <div class="container">
        <div class="row text">
            <h1 style="text-align: center">Remove <%=jobRole.name%> from <%=appRole.name%></h1>
            <div style="width: 30%; margin: 30px auto;">
                <form action="/applications/<%=application_id%>/approles/<%=appRole._id%>/jobroles/<%=jobRole._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-large btn-danger">Remove</button>
                    <a class="btn btn-large btn-default inline pull-right" href="back">Back</a>
                </form>
            </div>
        </div>
    </div>
<% include ../partials/footer %>