<% include ../partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1><%=appRole.name%></h1>
                <p><%=appRole.application.name%></p>
                <p> 
                    <a class="btn btn-primary btn-lg" href="<%=appRole._id%>/add">Add Job Role</a>
                    <a class="btn" href="/applications/<%=appRole.application._id%>">View all App Roles</a>
                </p>
            </div>
        </header>

         <ul class="list-group list-group-flush">
            <% appRole.jobRoles.forEach(function(jobRole){ %>
                <li class="list-group-item">
                    <img src="https://images.vexels.com/media/users/3/135118/isolated/preview/676bf0e9f3c16649cd7f426c6dcd755a-flat-user-sign-with-round-background-by-vexels.png" width="50px">
                    <h4 class="inline"><%=jobRole.name%></h4>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="/jobroles/<%=jobRole._id%>"> More Info</a>
                        <a class="btn btn-danger" href="<%=appRole._id%>/jobroles/<%=jobRole._id%>/remove">Remove</a>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
<% include ../partials/footer %>